app.get('/styles.css', (req, res) => {
    res.set('Content-Type', 'text/css');
    res.sendFile(path.join(__dirname, 'public', 'styles.css'));
  });
  

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 50px;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
  }

li input[type=checkbox]:checked + span {
  text-decoration: line-through;
}
